.avatarWrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        text-align: left;
        flex-grow: 1;
        justify-content: center;
        overflow: hidden;

        .username {
            font-size: 1.4rem;
            color: #fff;
        }

        .messagePart {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ccc;
        }
    }
}
