.avatarWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        text-align: left;
        flex-grow: 1;
        justify-content: center;
        overflow: hidden;

        .username {
            font-size: 1.4rem;
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .messagePart {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ccc;
        }
    }

    .online > span {
        background-color: #8bc34a;
        bottom: 5px;
        right: 5px;
    }
}
