.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    overflow-y: hidden;

    .messagesWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        overflow-y: overlay;

        .messages {
            width: 60%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .chatLoading {
                margin: auto;
            }
        }
    }

    .emptyHistory {
        font-size: 2.6rem;
        margin: auto;
    }
}
