.appBar {
    background: #677bc4;
    border-left: 1px solid #5b6ca8;
    box-shadow: none;

    svg {
        height: 2.4rem;
        width: 2.4rem;
    }

    .toolbar {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .chatName {
            display: flex;
            align-items: center;

            .title {
                font-size: 2rem;
                margin-left: 1.2rem;
                user-select: none;
            }

            .online {
                color: #2af1ff;
                font-size: 1.4rem;
                margin-left: 1rem;
                user-select: none;
            }
        }

        .icons {
            button:not(:first-child) {
                margin-left: 3rem;
            }
        }
    }
}
