.main {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background: #fff;
    padding: 1rem 0;

    .input {
        width: 60%;
        margin-left: 7rem;

        textarea {
            font-size: 1.4rem;
            line-height: 1;
        }
    }

    .sendBtn {
        font-size: 1.3rem;
        padding: 1.9rem;
        color: #fff;
        background: #677bc4;
        margin-left: 1.5rem;
        align-self: flex-end;

        svg {
            transform: scale(1.3);
        }
    }
}
